body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container {
    width: 700px;
    margin: 0 auto;
    background: #ccc;
    /* line-height: 5em; */
    border-radius: 5px;
    padding: 10px;
}

h1 {
    display: inline-block;
    /* font-size: 2px; */
    line-height: 2em;
    margin-right: 20px;
}
